<h1>Edit User Body Profile</h1>

<%= form_with model: @profile do |form| %>

    <%= form.label :age, "Age:" %><br>
    <%= form.date_field :age %><br>
    
    <%= form.label :height, "Height:" %><br>
    <%= form.number_field :height %><br>

    <%= form.label :weight, "Weight:" %><br>
    <%= form.number_field :weight %><br>

    <%= form.label :body_fat_percentage, "Body Fat Percentage:" %><br>
    <%= form.number_field :body_fat_percentage %><br>

    <%= form.submit %>

<% end %>