<%= image_tag 'ropes.jpeg', style: 'width:100%', class: 'index-page-image' %>

<%= search_form_for @q do |f| %>
    <%= f.search_field :title_or_category_category_name_cont, placeholder: 'Search Programs' %>
    <%= f.submit %>
<% end %>

<h2>Not sure where to start? let us make you a suggestion</h2>
<%= link_to "Make me a Suggestion", suggestions_path, class:'btn btn-primary'%>

<%= render 'card/card', programs: @programs %>