<div class='cover-image'> 
</div>

<div class="suggestion-section">
  <h2>Not sure where to start? let us make you a suggestion</h2>
  <%= link_to "Make me a Suggestion", suggestions_path, class:'btn btn-primary'%>
</div>

<div class="search-bar">
  <%= search_form_for @q do |f| %>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-12">  
          <%= f.search_field :title_or_category_category_name_cont, placeholder: 'Search Programs', class:"form-control search-bar-form" %>
          <div class="d-grid gap-2">
            <%= f.submit 'Search', class:'btn btn-primary search-bar-submit' %>
          </div>
      </div>
    </div>

  <% end %>
</div>

<div class="index-page-card mx-auto">
  <%= render 'card/card_index', programs: @programs %>
</div>
