<div class='row justify-content-center'>
    <div style="width: 500px;">
        <h1>New Program</h1>

        <%= form_with model: @program do |form| %>

            <%= form.label :title, "Title:" %><br>
            <%= form.text_field :title, class:"form-control" %><br>
            
            <%= form.label :description, "Description:" %><br>
            <%= form.text_area :description, class:"form-control"%><br>

            <%= form.label :price, "Price:" %><br>
            <%= form.number_field :price, class:"form-control", min: 0 %><br>

            <%= form.label :duration, "Duration:" %><br>
            <%= form.number_field :duration, class:"form-control", min: 0 %><br>

            <%= form.label :content, "Content:" %><br>
            <%= form.text_area :content, class:"form-control" %><br>

            <%= form.label :category_id, "Category:", class:"form-select"  %><br>
            <%= form.select(:category_id, @categories.map {|item| [item.category_name, item.id.to_i]}) %><br>

            <%= form.label :image, "Image:" %><br>
            <%= form.file_field :image, class:"form-control" %><br><br>

            <%= form.submit %>
        <% end %>
    </div>
</div>