<h1>New Program</h1>

<%= form_with model: @program do |form| %>

    <%= form.label :title, "Title:" %><br>
    <%= form.text_field :title %><br>
    
    <%= form.label :description, "Description:" %><br>
    <%= form.text_area :description %><br>

    <%= form.label :price, "Price:" %><br>
    <%= form.number_field :price, min: 0 %><br>

    <%= form.label :duration, "Duration:" %><br>
    <%= form.number_field :duration, min: 0 %><br>

    <%= form.label :content, "Content:" %><br>
    <%= form.text_area :content %><br>

    <%= form.label :category_id, "Category:" %><br>
    <%= form.select(:category_id, @categories.map {|item| [item.category_name, item.id.to_i]}) %><br>

    <%= form.label :image, "Image:" %><br>
    <%= form.file_field :image %><br><br>

    <%= form.submit %>

<% end %>