
<h1><%= @program.title %></h1>

<p>Description: <%= @program.description %></p>
<p>Duration: <%= @program.duration %></p>
<p>Content: <%= @program.content %></p>
<p>Coach: <%= @program.coach.first_name %> <%= @program.coach.last_name %></p>
<p>Category: <%= @program.category.category_name %></p>
<p>Price: <%= @program.price %></p>


<% if @program.image.attached? %>
    <%= image_tag @program.image, class: 'show-page-image' %>
<% else %>
    <%= image_tag "blank-program.jpg", class: 'show-page-image' %>
<% end %>

<% if current_user != @program.coach %>
    <%= link_to "View Coach Page", program_coach_page_path, class: 'btn btn-info' %>
<% end %>


<% if @program.coach == current_user %>
    <%= link_to 'Edit', edit_program_path(@program), class: 'btn btn-warning' %>
    <%= link_to 'Delete', program_path(@program), method: :delete, class: 'btn btn-danger'%>
<% else %>
    <% if user_signed_in? %>
        <% if current_user.programs_to_attend.include?(@program) %>
            <%= link_to 'Leave Class', leave_program_path(@program), method: :delete, class: 'btn btn-danger' %>
        <% else %>
            <%= link_to 'Purchase', payments_path(user: current_user, program: @program), class: 'btn btn-primary', method: :post %>
        <% end %>
    <% else %>
        <%= link_to 'Purchase', payments_path(user: current_user, program: @program), class: 'btn btn-primary', method: :post %>
    <% end %>
<% end %>

<br><br><br>

<h2>Reviews</h2>
<% @program.reviews_to_receive.each do |review| %>

    <p>Commenter: <%= review.user.first_name %> <%= review.user.last_name %></p>
    <p>Content: <%= review.content %></p>
    <p>Rating: <%= review.rating %></p>

    <% if review.user == current_user %>
        <%= link_to 'Delete', [review.program, review], method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you want to delete comment?"}%>
    <% end %>
<% end %>

<br><br><br>

<% if user_signed_in? %>
    <%= form_with model: [@program, @program.reviews_to_receive.build] do |form| %>

        <%= form.label :content, "Content:" %><br>
        <%= form.text_area :content %><br>

        <%= form.label :rating, "Rating:" %><br>
        <%= form.number_field :rating, min: 0, max: 10 %><br>

        <%= form.submit %>
    <% end %>
<% end %>
