<h1><%= current_user.first_name %> <%= current_user.last_name %></h1>

<h2>Measures</h2>
<% if current_user.profile %>
    <p>Age: <%= @client_age %></p> 
    <p>Height: <%= current_user.profile.height %></p> 
    <p>Weight: <%= current_user.profile.weight %></p>
    <p>BMI: <%= @bmi %></p>
    <%= link_to "Edit Profile", edit_profile_path %>
    <%= link_to "Delete Profile", current_user.profile, method: :delete, data: { confirm: "Are you sure?"} %>
<% else %>
    You don't have a body profile. create a profile 
    <%= link_to "Create Profile", new_profile_path %>
<% end %>

<h2>Coached Programs</h2>
<%= render 'card/card', programs: @coached_programs %>

<h2>Attended Programs</h2>
<%= render 'card/card', programs: @attended_programs %>
