<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container py-5">
    <h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
      <% if current_user.profile %>
      <h4>Measures</h4>      
        <p>Age: <%= @client_age %></p> 
        <p>Height: <%= current_user.profile.height %></p> 
        <p>Weight: <%= current_user.profile.weight %></p>
        <p>BMI: <%= '%.2f' % @bmi %></p>
      <%= link_to "Edit Profile", edit_profile_path %>
      <%= link_to "Delete Profile", current_user.profile, method: :delete, data: { confirm: "Are you sure?"} %>
      <% else %>
        You don't have a body profile. 
        <%= link_to "Create Profile", new_profile_path %>
      <% end %>
  </div>
</div>


<div class='container self-page-programs'>
      <h2>Coached Programs</h2>
      <%= render 'card/card', programs: @coached_programs %>

      <h2>Attended Programs</h2>
      <%= render 'card/card', programs: @attended_programs %>
  </div>
</div>
