<!DOCTYPE html>
<html>
  <head>
    <title>RightFit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/navbar'%>
    <%= render 'partials/alert_notice'%>
    <%= yield %>
    <%= render 'partials/footer'%>
  </body>
</html>
